<%- include header %>
<div class="row page-titles">
    <div class="col-md-12 align-self-center">
        <h3 class="text-themecolor">Trang chủ</h3>
    </div>
    <div>
        <a href="#top" class="right-side-toggle waves-effect top waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-arrow-circle-up text-white"></i></a>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                   <p>Nguyễn Trần Trị Đỗ</p><p>Nguyễn Trần Trị Đỗ</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include footer %>

<script type="text/javascript">
     $(document).ready(function() {
        $('.top').click(function(){
          $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top
          }, 500);
          return false;
        });
    });
</script>
