<h1 class="display-4">Welcome to Articles</h1>
<p class="mb-4">This is Sails example for Articles</p>
<a href="/articles/list" class="btn btn-light">List articles</a>
<a href="/articles/add" class="btn btn-light">Add articles</a>